.nav {
  width: 100%;
  height: 60px;
  padding: 0 4%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 0.5rem 1rem rgba(0 0 0/10%);
  background-color: #fff;
  z-index: 10;
}
.logo {
  width: 155px;
}
.navlinks {
  display: flex;
  gap: 2rem;
  text-transform: capitalize;
  letter-spacing: 1px;
}
.navlinks li {
  font-size: 0.8rem;
  transition: 0.5s;
}
.navlinks li:hover {
  color: #6bb5b5;
}
.nav .menu {
  display: none;
}
@media (max-width: 768px) {
  .nav {
    padding: 0 2%;
  }
  .nav .menu {
    display: block;
    font-size: 1.5rem;
  }
  .navlinks {
    position: fixed;
    top: 60px;
    right: 0;
    width: 200px;
    background-color: #6bb5b5;
    height: 300px;
    flex-direction: column;
    padding: 3% 2%;
    transition: 0.5s;
  }
  .navlinks.open {
    right: -200px;
  }
  .navlinks li {
    font-size: 1rem;
    color: #fff;
  }
  .navlinks li:hover {
    color: #111;
  }
}
